.nav-content {
  list-style: none;
  margin-top: 2vh;
  display: flex;
  padding-left: 10%;
  height: 6vh;
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: white;
}

.nav-content li {
  color: #0290ff;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Montserrat-Bold', sans-serif;
  margin-right: 15px;
  margin-left: 10px;
}

.profile {
  padding: 11px;
  border: solid 1px #e8e8e8;
  border-radius: 60%;
  margin: 5px 5px;
}

.profile i {
  color: #0290ff;
}

.main-area ul li {
  border-right: 2px solid #1f7199;
  padding-right: 10px;
  margin-top: 12px;
}

.nav-content li:nth-child(2) {
  color: #121212;
  font-size: 18px;
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 500;
}

.nav-content li:nth-child(3) {
  color: #121212;
  font-size: 16px;
  font-family: "Montserrat-Regular", sans-serif;
  font-weight: 300;
  margin-top: 4px;
}

.card {
  background: white;
  height: 20vh;
  margin: 24px;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  font-family: "Montserrat-Regular", sans-serif;
  border: solid 1px #e8e8e8;
  display: flex;
}

.main-area {
  list-style: none;
  width: 50%;
  margin: 12px;
}

.main-area span {
  font-size: 12px;
}

.main-area h1 {
  font-size: 36px;
}

.main-area p {
  font-size: 18px;
  color: #1f7199;
}

.main-area ul {
  list-style: none;
  display: flex;
  gap: 10px;
}

.main-area ul li:nth-child(3) {
  border-right: none;
}

.main-area2 {
  width: 25%;
  border-right: 1px solid #e8e8e8;
}

.main-area2 h4 {
  font-size: 36px;
}

.main-area3 {
  float: right;
  width: 25%;
}

.main-area3 button {
  background-color: #0290ff;
  color: white;
  padding: 2%;
  border: none;
  border-radius: 5px;
  margin-top: 3px;
}

.progressbar {
  width: 40%;
}

.forms {
  margin: 0.313rem 6.25rem 0;
  padding: 1rem 9.188rem 1.625rem 1.688rem;
  display: inline-block;
  width: 100%;
}

form input,
select {
  margin: 1.188rem 1.125rem 0 0;
  padding: 0.813rem 5rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

form input:hover,
select:hover {
  outline: 0.5px solid #0290ff;
  border: none;
}

.btn {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  color: #fff;
  border: none;
  outline: none;
}

.tranparent-btn {
  color: #0290ff;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.chapter-section {
  margin-left: 24px;
  line-height: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chapter {
  letter-spacing: -0.4px;
  color: #121212;
  padding-right: 4.2rem;
}

.sub-chapter {
  color: #e8e8e8;
  font-size: 1.2rem;
  font-weight: 300;
  padding-left: 2.2rem;
}

.title {
  font-size: 1.375rem;
  letter-spacing: -0.2px;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
}

.category {
  color: #121212;
  font-size: 0.875rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
}

.author {
  font-size: 0.875rem;
  color: #4386bf;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
}

.border-right {
  border-right: 1px solid #e4e4e4;
  padding: 0 1.25rem;
}

.completed {
  padding-left: 15px;
}
